﻿@model NewsWebApp.Models.LoginModel
        


        
<div class="container" align="center">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <h2>С возврашением Админ!</h2>
        <br>
        <diV class="col">
           
                </diV>
            <div class="row">
                <div class="col">

                </div>
                <div class="col">
                    <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
                        <div class="validation" asp-validation-summary="ModelOnly" />
                        <div>

                            <div class="form-group">
                                <input asp-for="Email" class="form-control" rows="2" id="comment" placeholder="Введите Email" />


                            </div>

                            <div class="form-group">
                                <input asp-for="Password" class="form-control" rows="2" id="comment" placeholder="Введите пароль" />
                                <span asp-validation-for="Password" class="text-danger"></span>

                            </div>
                            <hr />
                            <div> <span asp-validation-for="Email" class="text-danger"></span></div>
                            <div class="form-group">
                                <input type="submit" value="Войти" class="btn btn-primary form-control" />
                            </div>
                        </div>
</form>
                </div>
                <div class="col">

                </div>
            </div>
        </diV>
    </div>