﻿@model NewsWebApp.Models.Newsdetail
@{
    ViewData["Title"] = "Добавить новость";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>Новости</title>
</head>
<body style="background: 	rgb(79, 195, 247);">
    <div class="container">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <div class="row">
                <div class="col">
                    <form asp-action="Create" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div> <span asp-validation-for="Name" class="text-danger"></span></div>

                        <div class="form-group">
                            <label for="text">Заголовок:</label>
                            <textarea asp-for="Name" class="form-control" rows="2" id="comment"></textarea>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="sel1">Язык:</label>
                                <select asp-for="Language" class="form-control" id="sel1">
                                    <option>Казахский</option>
                                    <option>Русcкий</option>
                                    <option>Английский</option>
                                </select>
                            </div>

                            <div class="col">
                                <label for="sel1">Категория:</label>
                                <select asp-for="Category" class="form-control" id="sel1">
                                    <option>Политика</option>
                                    <option>Бизнес</option>
                                    <option>Шоубизнес</option>
                                    <option>Общество</option>
                                </select>
                            </div>
                        </div>
                        <br />


                        <div class="form-group">
                            <label asp-for="Summary" for="">Краткое содержание:</label>
                            <textarea asp-for="Summary" class="form-control" rows="5" id="comment"></textarea>
                        </div>

                        <div class="form-group">
                            <label asp-for="FullContent" for="">Полное содержание:</label>
                            <textarea asp-for="FullContent" class="form-control" rows="15" id="comment"></textarea>
                        </div>

                        <div class="row">
                            <div class="col ">
                                <input type="file" class="custom-file-input" id="customFile" asp-for="PhotoForPreview">
                                <label class="custom-file-label" for="customFile">Фото для превью:</label>
                                <span asp-validation-for="PhotoForPreview" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <input type="file" class="custom-file-input" id="customFile" asp-for="PhotoForFulltext">
                                <label class="custom-file-label" for="customFile">Фото для контекста:</label>
                                <span asp-validation-for="PhotoForFulltext" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <input asp-for="Date" class="form-control" />
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>
                        </div>

                        <hr />


                        <div class="container">
                            <div class="row">
                                <div class="col">

                                </div>
                                <div class="col">
                                    <input type="submit" value="Сохранить новость" class="btn btn-primary form-control">
                                </div>
                                <div class="col">

                                </div>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Index">На Главную</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>