﻿@model NewsWebApp.Models.Newsdetail
@{
    ViewData["Title"] = Html.DisplayFor(model => model.Name);
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <div class="col">
                <h3 style="color:red" align="center">Вы уверены, что хотите удалить эту новость?</h3>
                <hr />
                <div class="col-sm">
                    <h4>
                        @Html.DisplayFor(model => model.Name)
                    </h4>
                </div>
                <hr>
                <div class="col">
                    <p  style="white-space:pre-wrap" align="justify">@Html.DisplayFor(model => model.Summary)</p>
                </div>
                <div>
                    <div class="col" align="center">
                        @{
                            var base64 = Convert.ToBase64String(Model.PhotoForFulltext);
                            var imgsrc = string.Format("data:image/gif;base64,{0}", base64);

                        }
                        <img class="img-thumbnail" src='@imgsrc' style="max-width:700px; max-height:700px" />
                    </div>
                </div>
                <div class="col">
                    <p style="white-space:pre-wrap" align="justify">@Html.DisplayFor(model => model.FullContent)</p>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6 col-md-4" style="float:right"> <h6>@Model.Date.ToString("d")</h6></div>
                </div>
                <br />
                <form asp-action="Delete">

                    <div class="container">
                        <div class="row">
                            <div class="col">

                            </div>
                            <div class="col">
                                <input type="submit" value="Удалить новость" class="btn btn-primary form-control">
                            </div>
                            <div class="col">

                            </div>
                        </div>
                    </div>

                    <div>
                        <a asp-action="Index">На Главную</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>



