﻿@model IEnumerable<NewsWebApp.Models.Newsdetail>
@{
    ViewData["Title"] = "Главная страница";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>Новости</title>
</head>
<body>
    <div class="container">

        @foreach (var news in Model.OrderByDescending(item => item.Date))
        {
            <div class="shadow-lg p-3 mb-5 bg-white rounded">
                <div class="row">
                    <div class="col-md-4">
                        @{
                            if (@news.PhotoForPreview != null)
                            {
                                var base64 = Convert.ToBase64String(news.PhotoForPreview);
                                var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                                <a href="~/Home/Content/@news.ID">
                            <img class="d-flex align-self-center mr-3" src='@imgsrc' style="max-width:300px; max-height:300px" /></a>
                            }

                        }
                    </div>
                    <div class="col-md-6">
                        <div class="col-sm">
                            <a style="text-decoration: none; color:black;" href="~/Home/Content/@news.ID"> <h4>@news.Name</h4></a>
                        </div>
                        <div class="col-sm">
                            <a style="text-decoration: none;  color:black;" href="~/Home/Content/@news.ID">@news.Summary</a>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="row no-gutters">

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="nav-item">
                                        <a style="text-decoration: none; width: 150px; display: block;" href="~/News/Edit/@news.ID">Изменить<span class="sr-only">(current)</span></a>
                                    </div>

                                    <div class="nav-item">
                                        <a style="text-decoration: none; width: 150px; display: block;" href="~/News/Delete/@news.ID">Удалить<span class="sr-only">(current)</span></a>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-12 col-sm-6 col-md-8">
                                        <a style="text-decoration: none;" href="~/Home/Content/@news.ID">Подробнее <span class="sr-only">(current)</span></a>
                                    </div>
                                }
                                <div class="col-6 col-md-4" style="float:right"> <p>@news.Date.ToString("d")</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</body>
</html>
